#tlo{
    -fx-background-color: linear-gradient(to bottom, #33ccff -75%, #ff99cc 100%);
}

#kon{
    -fx-padding: 4 5 5 5;
    -fx-background-radius: 15;
    -fx-background-color: #F7786B;
}

#jezdziec{
    -fx-padding: 4 5 5 5;
    -fx-background-radius: 15;
    -fx-background-color: #F7786B;
}


#gonitwa{
    -fx-padding: 4 5 5 5;
    -fx-background-radius: 15;
    -fx-background-color: #F7786B;
}

#powrot{
    -fx-padding: 4 5 5 5;
    -fx-background-radius: 15;
    -fx-background-color:  #92B6D5;
    -fx-font-weight: bold;  
    -fx-font-size: 1.3em;
    -fx-text-fill: #FFFFE0;
}

#tytul{
   -fx-text-alignment: center; 
   -fx-text-fill: #FFFFE0;
}

#wynikK{
    -fx-text-alignment: center; 
    -fx-text-fill: #FFFFE0;
}

#wynikJ{
    -fx-text-alignment: center; 
    -fx-text-fill: #FFFFE0;
}

#wynikG{
   -fx-text-alignment: center; 
   -fx-text-fill: #FFFFE0;
}